body {
    font-family: "Lato", sans-serif;
}

h1.title {
  padding-left: 30px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 20px;
}

.projectWrapper {
    padding: 20px;
}

.projectTile {
    width: 90%;
    background-color: #e4e4e4;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    box-shadow: 2px 5px 5px#666;
    transition: all .2s ease-in-out;
}

.projectTile:hover {
    transform: scale(1.02);
}

.projectTile .projectImg {
    background-image: url("http://placeimg.com/640/480/any");
    background-size: cover;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.projectTile .projectInfo {
    height: 40px;
}

.projectTile h2 {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 40px;
}

.grid-x {
    margin-bottom: 40px;
}

.sidenav button {
    width: 80%;
    font-weight: bold;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 20px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

textarea {
    border-style: none;
    border-color: Transparent;
}

#pd {
    padding-top: 10px;
}

#mg {
    margin-top: 5px;
}

textarea {
    resize: none;
}

.container-login100-form-btn {
    max-width: 300px;
    margin: 0 auto;
}
