{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Project:LNX{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>

	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	{% endblock %}

	{% block javascript %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{% endblock %}
	
</head>
<body>
	{% block content %}
	{% endblock %}
	<script src="{% static 'js/main.js' %}"></script>
	
</body>
</html>
