<!DOCTYPE html>
{% load static%}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="sidenav">
        <a id="newButton"><button class="button">New +</button></a>
        <a href="index.html">Projects</a>
        <a href="#">About</a>
    </div>

    <div class="main" style="text-align:center">
        <h1 class="header-spacing"> About Project: LNX </h1>
        <div style="width:60%; margin:0 auto; text-align:left">
        <p style="font-size:25px">Is your project idea too big for you to complete by yourself? Do you want to work with
                  a team but don't know enough people who share the same interests? Project:LNX brings
                  together like-minded people who want to work on projects together! Collaborate, build,
                  and learn with this community to develop and launch games, applications, websites, or
                  any project you can think of to share your creative mind with the world.
          </p>
        </div>
    </div>

    <script src="{% static 'vendor/bootstrap/js/popper.js' }"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' }"></script>

    <script src="{% static 'js/main.js' }"></script>
</body>
</html>
