{% extends '__base.html' %}

{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
{% endblock %}

{% block content %}
    <div class="sidenav">
        <a id="newButton"><button class="button">New +</button></a>
        <a href="#">Projects</a>
        <a href="about.html">About</a>
    </div>

    <div class="main">
        {% for project in projects %}
            <a href="{% url project title=project.title %}">
                <h1 class="title">{{ project.title }}</h1></a>
            <div class="projectWrapper">
            <div class=grid-x>
            <div class="cell large-4">
                <div class="projectTile">
                    <div class="projectImg"></div>
                    <div class="projectInfo">
                        <h2>{{ project.tagline }}</h2>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}
