<!DOCTYPE html>
{% load static%}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="sidenav">
        <a id="newButton"><button class="button">New +</button></a>
        <a href="index.html">Projects</a>
        <a href="about.html">About</a>
    </div>

    <div class="main">
        <h1 class="header-spacing"> {{ project.title }} </h1>
        <h2 class="header-spacing"> {{ project.tagline }} </h2>
        <p class="header-spacing"> {{ project.description }} </p>
        <h2 class="header-spacing"> Contributors </h2>
        <div>
          <div class="userWrapper">
            <div class="grid-x">
              <div class="cell small-4">
                    <img src="http://placeimg.com/480/480/any" class="circle" height=200px width=200px>
                    <p>Name</p>
                    <p>Email</p>
                    <p>Position</p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
