<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Sign up for Project:LNX</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

	<div class="wrap-login100">
		{% block content %}
		<form method="post" enctype="multipart/form-data" action="{% url 'signup_redirect' %}"
			data-validate-email-url="{% url 'validate_email' %}" 
			date-validate-photo-url="{% url 'validate_photo' %}" 
			data-validate-username-url="{% url 'validate_username' %}" 
			data-validate-password-url="{% url 'validate_password' %}">
			{% csrf_token %}
			<h1>
				Sign Up
			</h1>
			
			<div id="signuppage1">
				<input class="input100" type="text" name="first" id="first" placeholder="Optional: First Name"><span class="focus-input100"></span>

				<input class="input100" type="text" name="last" id="last" placeholder="Optional: Last Name"><span class="focus-input100"></span>

				<input class="input100" type="text" name="email" id="email" placeholder="Required: Email"><span class="focus-input100"></span>
				<div class="error-msg" id="validate-email"></div>
			</div>

			<div id="signuppage2">
				<input class="input100" type="file" accept="image/jpeg" name="photo" id="photo" placeholder="Optional: Profile photo">

				<select class="input100" name="major" id="major">
					<option value="none" selected disabled hidden>Required: Major</option>
				{% for major in majors %}
					<option value="{{ major }}">{{ major }}</option>
				{% endfor %}
				</select><span class="focus-input100"></span>
			</div>

			<div id="signuppage3">
				<input class="input100" type="text" name="name" id="name" placeholder="Required: Username"><span class="focus-input100"></span>
				<div class="error-msg" id="validate-username"></div>

				<div id="pass_wrapper">
					<img src="{% static 'eye.svg' %}" class="eye btn-show-pass">
					<input class="input100" type="password" name="password" id="password" placeholder="Required: Password"><span class="focus-input100"></span>
				</div>
				<div class="error-msg" id="validate-password"></div>

				<div id="pass_wrapper">
					<img src="{% static 'eye.svg' %}" class="eye btn-show-pass">
					<input class="input100" type="password" name="pwConfirm" id="pwConfirm" placeholder="Required: Confirm password"><span class="focus-input100"></span>
				</div>
				<div class="error-msg" id="validate-confirm"></div>

				<div class="wrap-login100-form-btn">
					<div class="login100-form-bgbtn"></div>
					<button class="login100-form-btn">
						Create Account
					</button>
				</div>
			</div>

			<span class="smallprint">
				Already have an account?
				<a href="{% url 'login' %}">
				Log In
				</a>
			</span>

		</form>

		<nav id="signupsteps">
			<span id="step1">1: Id</span>
			<span id="step2">2: Profile</span>
			<span id="step3">3: Sign-in</span>
		</nav>

		{% endblock %}

	</div>

	<script src="{% static 'js/signup.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	
</body>
</html>
