@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/Poppins-Bold.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
  font-size: 1em;
}

body {
  height: 100%;
  background-color: #045660;
  background-image: url("https://i.pinimg.com/originals/65/10/d4/6510d42773d57014b227499891eacbde.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#logo{
  margin: 1em;
}

a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

h1 {
  display: block;
  font-family: Poppins-Bold;
  font-size: 2em;
  text-align: center;
  margin: 10px;
}